<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles.css">
<title>{{title}}</title>
</head>

 {{{body}}}


<footer>Copyright of wooooot</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src = "index.js" type="text/javascript"></script>
</body>
</html>
